.home .full-screen {
    padding: 50px 0;
    min-height: 90vh;
}

.home .text-home {
    letter-spacing: 2px;
}

.home .text-home p {
    font-size: var(--font-large);
    margin-bottom: 10px;
}

.home .text-home h1 {
    font-size: var(--font-extra-large);
    font-weight: 700;
    margin-bottom: 10px;
}

.home .text-home h2 {
    font-size: var(--font-extra-large);
    letter-spacing: 2px;
    margin-bottom: 10px;
}

@media(max-width: 2650px) {
    .home .text-home, .home .img-home {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: var(--mobile-padding);
    }
}